[mysqld]
query_cache_size=0
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_type=0
bind-address=0.0.0.0
innodb_file_per_table
innodb_flush_log_at_trx_commit=2

[galera]
# Galera Provider Configuration
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_provider_options="gcs.fc_limit = 128;  evs.keepalive_period = PT3S;  evs.inactive_check_period = PT10S; evs.suspect_timeout = PT30S; evs.inactive_timeout = PT1M; evs.install_timeout= PT1M;gcache.size=5G" 

# Galera Cluster Configuration
wsrep_cluster_name="galera_cluster" 
wsrep_cluster_address="gcomm://node1_ip,node2_ip,node3_ip" 

# Galera Synchronization Congifuration
wsrep_sst_method=mysqldump

# Galera Node Configuration
wsrep_node_address="this_node_ip" 
wsrep_node_name="this_node_name" 

wsrep_slave_threads=16
