[mysqld]
## General
user=mysql
datadir=/var/lib/mysql

skip-external-locking
key_buffer_size = 512M
max_allowed_packet = 1024M
table_open_cache = 256
sort_buffer_size = 64K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
net_buffer_length = 2K
thread_stack = 240K
skip-name-resolve
log-error=/var/log/mysql.log

## InnoDB configuration
innodb_buffer_pool_size=1G
innodb_log_file_size=64M
innodb_flush_method=O_DIRECT
innodb_locks_unsafe_for_binlog
innodb_autoinc_lock_mode=2
innodb_file_per_table

query_cache_size=0
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_type=0
bind-address=0.0.0.0
innodb_file_per_table
innodb_flush_log_at_trx_commit=2

[galera]
# Galera Provider Configuration
#wsrep_provider=/usr/lib64/galera/libgalera_smm.so
#wsrep_provider_options="gcs.fc_limit=128;evs.keepalive_period=PT3S;evs.inactive_check_period=PT10S;evs.suspect_timeout=PT30S;evs.inactive_timeout=PT1M;evs.install_timeout=PT1M;gcache.size=2G"

# Galera Cluster Configuration
#wsrep_cluster_name="galera_cluster"
#wsrep_cluster_address="gcomm://"
#wsrep_cluster_address="gcomm://NODE1,NODE2,NODE3"

# Galera Synchronization Congifuration
#wsrep_sst_method=xtrabackup-v2
#wsrep_sst_auth=galerareplicator:PASSWORD

# Galera Node Configuration
#wsrep_node_address="THISNODE"
#wsrep_node_name="THISNAME"

#wsrep_slave_threads=16
